<!DOCTYPE html>
<html lang="en">

<body>

<div class="container1">

{% include "header.jinja"%}

  <div class="container2">
    <form method="POST">
    <table>
      <tr>
        <th style="border-left: 1px solid #eee;" class="align-middle">Auswählen</th>
        <th>#</th>
        <th>Datum</th>
        <th>Gewicht</th>
        <th>Bodyfat</th>
        <th>tbw</th>
        <th>Muskeln</th>
        <th>BMI</th>
      </tr>
          {% for eintrag in liste %}
      <tr>
        <td><input type="checkbox" id="nummer_del" name="nummer_del" value="{{ eintrag[6][1] }}"></td>
        <td>{{ eintrag[6][1] }}</td>
        <td>{{ eintrag[0][1] }}</td>
        <td>{{ eintrag[1][1] }}</td>
        <td>{{ eintrag[2][1] }}</td>
        <td>{{ eintrag[3][1] }}</td>
        <td>{{ eintrag[4][1] }}</td>
        <td>{{ eintrag[5][1] }}</td>
      </tr>
    {% endfor %}
    </table>
    <br>
    <div>
      <div class="row">
        <div class="col-75">
          <input type="submit" value="Submit">
        </div>
      </div>
    </form>
    </div>

  </div>

</div>

{% include "footer.jinja"%}
</body>

</html>