<!DOCTYPE html>
<html lang="en">



<body>

<div class="container1">
  {% include "header.jinja"%}
  <div class="container2">
    <h1>Hallo <span class="rot_text_h1">{{ name }}</span>,<br></h1>
    <h2>hier kannst du neue body values eingeben!</h2>
  </div>

<div>
    <div class="container2">
      <h3>Neuer Eintrag verfassen:</h3>
    </div>

    <div class="container2">
      <form method="POST">

      <div class="row">
        <div class="col-25">
          <label for="datum">Datum der Daten</label>
        </div>
        <div class="col-75">
          <input type="date" id="datum" name="datum" autofocus required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="gewicht">Gewicht in kg</label>
        </div>
        <div class="col-75">
          <input type="number" step="0.1" id="gewicht" name="gewicht" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="koerperfett">Körperfett in %</label>
        </div>
        <div class="col-75">
          <input type="number" step="0.1" id="koerperfett" name="bodyfat" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="koerperwasser">Körperwasser in %</label>
        </div>
        <div class="col-75">
          <input type="number" step="0.1" id="koerperwasser" name="tbw" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="muskelanteil">Muskelanteil in %</label>
        </div>
        <div class="col-75">
          <input type="number" step="0.1" id="muskelanteil" name="muskeln" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="bmi">BMI</label>
        </div>
        <div class="col-75">
          <input type="number" step="0.1" id="bmi" name="bmi" required>
        </div>
      </div>

      <br>
      <div class="row">
          <div class="col-75">
            <input type="submit" value="Senden">
          </div>
      </div>
      </form>
    </div>
  </div>
</div>

{% include "footer.jinja"%}
</div>
</body>

</html>