<!DOCTYPE html>
<html lang="en">



<body>

<div class="container1">
    <!-- hier wird mit jinja die navbar eingefügt -->
    {% include "header.jinja"%}
    <div class="container2">
        <!-- hier wird der in main.py definierte name eingefügt -->
        <h1>Hallo <span class="rot_text_h1">{{ name }}</span>,<br></h1>
        <h2>hier siehst du die Statistiken zum Jogging!</h2>
    </div>
    <div class="container2">
      <h3>Statistiken zum Jogging:</h3>
    </div>

    <div class="container2">
        <!-- hier werden die statistiken reingeladen -->
        {{ barchart_datum_strecke | safe }}
        {{ barchart_datum_zeit | safe }}
    </div>
</div>
<!-- hier wird mit jinja der footer eingefügt -->
{% include "footer.jinja"%}
</body>

</html>